{% extends 'store/base.html' %}
{% load static %}

{% block header %}
<header id='mention-header'>
    <div class="container">
        <h1>Mentions légales</h1>
    </div>
</header>
{% endblock %}

{% block content %}
<section class="mention-section">
    <div id="mention-container" class="container">
        <div class="mention-content">
            <p id='mention-style'>
                <span><strong>Editeur / Développeur du site</strong></span>
                <br>
                Anselme Colette <br>
                Etudiante chez OpenClassrooms en Licence Développeur d'Application : Python
                <br><br>
                <span><strong>Hébergement</strong></span>
                <br>
                <i>Hébergeur:</i> DigitalOcean <br>
                50 Fremont St.Suite 300 San Francisco, CA 94105 <br>
                Site Web: https://www.heroku.com/
                <br><br>
                <span><strong>Conditions d'utilisation</strong></span>
                <br>
                Ce site est proposé en différents langages web 
                (HTML5, CSS, Javascript, etc…) pour une utilisation optimale 
                et un graphisme agréable, nous vous recommandons d'utiliser des navigateurs modernes 
                comme Firefox, Google Chrome, etc…
                <br><br>
                <span><strong>Ressources libres</strong></span>
                <br>
                <i>Icônes:</i> Font Awesome <br>
                <i>Template original:</i> startbootstrap-creative <br>
                <i>Images:</i> https://unsplash.com/photos/eqsEZNCm4-c, Google Images <br>
            </p>
        </div>
    </div>

</section>
{% endblock %}


